<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/user/dashboard"><i class="fa fa-fw fa-home"></i> All Item Listings</a>
        </li>

        <li>
            <a href="/user/item-table"><i class="fa fa-fw fa-table"></i> Manage All Items</a>
        </li>

        <li>
            <a href="/user/item/new"><i class="fa fa-fw fa-edit"></i> Add an Item</a>
        </li>

        <li></li>

        <li>
            <a href="/user/user-table"><i class="fa fa-fw fa-users"></i> Manage All Users</a>
        </li>

        <li>
            <a href="/register"><i class="fa fa-fw fa-user-plus"></i> Add a User</a>
        </li>
    </ul>
</div>
