<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-text navbar-link pull-left white-icon"
       routerLink="/user/website/{{websiteId}}/page">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <span class="navbar-brand">Widgets</span>
    <a class="navbar-text navbar-link pull-right white-icon"
       routerLink="/user/website/{{websiteId}}/page/{{pageId}}/widget/new">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
</nav>

<div class="container" appSortable (newIndexes)="sortWidgets($event)">

  <div *ngFor="let widget of widgets">

    <div [ngSwitch]="widget.type">

      <div *ngSwitchCase="'HEADING'">

        <div>
          <a class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a class="pull-right"
             routerLink="/user/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>

        <div [ngSwitch]="widget.size">
          <div *ngSwitchCase="'1'">
            <h1>{{widget.text}}</h1>
          </div>
          <div *ngSwitchCase="'2'">
            <h2>{{widget.text}}</h2>
          </div>
          <div *ngSwitchCase="'3'">
            <h3>{{widget.text}}</h3>
          </div>
          <div *ngSwitchCase="'4'">
            <h4>{{widget.text}}</h4>
          </div>
          <div *ngSwitchCase="'5'">
            <h5>{{widget.text}}</h5>
          </div>
          <div *ngSwitchCase="'6'">
            <h6>{{widget.text}}</h6>
          </div>
          <div *ngSwitchDefault>
            <h3>{{widget.text}}</h3>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'IMAGE'" class="position-relative">
        <div class="position-absolute-right">
          <a class="pull-right widget-icon">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a class="pull-right widget-icon"
             routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
        <img [src]="widget.url" class="img-responsive img-rounded" [style.width]="widget.width">
      </div>

      <div *ngSwitchCase="'YOUTUBE'" class="youtube-widget">
        <iframe class="embed-responsive-item" [src]="trustURL(widget.url)"
                [style.width]="widget.width" [style.height]="widget.height"
                allowfullscreen></iframe>
        <a class="pull-right widget-icon">
          <span class="glyphicon glyphicon-menu-hamburger widget-icon youtube-buttons"></span>
        </a>
        <a class="pull-right widget-icon"
           routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
          <span class="glyphicon glyphicon-cog widget-icon youtube-buttons"></span>
        </a>
      </div>

      <div *ngSwitchCase="'HTML'">
        <div>
          <a class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a class="pull-right"
             routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
        <div [innerHTML]="widget.text"></div>
      </div>

      <div *ngSwitchCase="'INPUT'">
        <div>
          <a class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </a>
          <a class="pull-right"
             routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>

        <div *ngIf="widget.formatted">
          <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
        </div>

        <input *ngIf="!widget.formatted && (!widget.rows || widget.rows === 1)"
               class="form-control" placeholder={{widget.placeholder}}/>

        <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                  class="form-control" placeholder={{widget.placeholder}} rows={{widget.rows}}></textarea>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-text navbar-link pull-right white-icon" routerLink="/user">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
