<div class="background">
    <div class="container">
        <div class="panel pricing-table-1">

            <form (ngSubmit)="update(user)" #f="ngForm">

                <div *ngIf="errorFlag"
                     class="alert alert-danger">
                    {{errorMsg}}
                </div>

                <div [ngSwitch]="type">

                    <div *ngSwitchCase="'ADMIN'">
                        <app-profile-admin [user]='user'></app-profile-admin>
                    </div>

                    <div *ngSwitchCase="'BUYER'">
                        <app-profile-buyer [user]='user'></app-profile-buyer>
                    </div>

                    <div *ngSwitchCase="'SELLER'">
                        <app-profile-seller [user]='user'></app-profile-seller>
                    </div>

                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Update Profile</button>
                    <!--<button (click)="logout()" class="btn btn-lg btn-warning btn-block">Logout</button>-->
                    <button routerLink="/user/dashboard" class="btn btn-lg btn-warning btn-block">Back To Dashboard
                    </button>
                    <!--<button (click)='delete()' class="btn btn-lg btn-danger btn-block">Delete Account</button>-->
                </div>
                <div class="form-group">
                    <!--<button type="submit" class="btn btn-lg btn-primary btn-block">Update Profile</button>-->
                    <!--<button (click)="logout()" class="btn btn-lg btn-danger btn-block">Logout</button>-->
                    <button (click)='delete()' class="btn btn-lg btn-danger btn-block">Delete Account</button>
                </div>


            </form>
        </div>
    </div>
</div>
