<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Home</a>
            <a class="navbar-text" href="/user/dashboard">Go to my Dashboard</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user"><i class="fa fa-fw fa-user"></i> Profile</a></li>
                <li><a (click)="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{item?.title}} [{{item?.name}}]</h1>

            <!-- Author -->
            <p class="lead">
                by <a href="/user/item/{{itemId}}/detail">{{item?._seller.username}}</a>
                <span class="pull-right">$ {{item?.price}}</span>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>
                <span class="glyphicon glyphicon-time"></span> Posted on {{itemPostedDate}}
                <span *ngIf="is_buyer && is_watched" class="glyphicon glyphicon-heart watcher-red"
                      (click)="removeFromWatchList()"><span class="font"> {{item?.watcher_count}}</span></span>
                <span *ngIf="is_buyer && !is_watched" class="glyphicon glyphicon-heart watcher-grey"
                      (click)="addToWatchList()"><span class="font"> {{item?.watcher_count}}</span></span>
                <span *ngIf="!is_buyer" class="glyphicon glyphicon-heart watcher-red"><span class="font"> {{item?.watcher_count}}</span></span>
                <span class="glyphicon glyphicon-list-alt category"><span
                        class="font"> {{item?.category}}/{{condition}}</span></span>
            </p>


            <hr>

            <!-- Preview Image -->
            <!--<img class="img-responsive" src="item.url" alt="">-->
            <img class="img-responsive" [src]="item?.url">

            <hr>

            <!-- Post Content -->
            <p>{{item?.description}}</p>
            <hr>

            <!-- Google Map Form -->
            <div class="well">
                <h4>Find the item on Google Map</h4>
                <div id="map"></div>

            </div>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4  extra-padding">

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Seller Info</h4>
                <div>
                    <ul class="list-unstyled">
                        <li>Username: <a href="/user/item/{{itemId}}/detail">{{seller?.username}}</a>
                        </li>
                        <li>First name: <a href="/user/item/{{itemId}}/detail">{{seller?.firstName}}</a>
                        </li>
                        <li>Last name: <a href="/user/item/{{itemId}}/detail">{{seller?.lastName}}</a>
                        </li>
                        <li>Contact email: <a href="/user/item/{{itemId}}/detail">{{seller?.email}}</a>
                        </li>
                        <li>Date registered: <a href="/user/item/{{itemId}}/detail">{{userCreatedDate}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Privacy Policy</h4>
                <p>We are the sole owners of the information collected on this site. We only have access to/collect
                    information that you voluntarily give us via email or other direct contact from you. We will not
                    sell or rent this information to anyone.
                </p>
                <p>We will use your information to respond to you, regarding the reason you contacted us. We will not
                    share your information with any third party outside of our organization, other than as necessary to
                    fulfill your request, e.g., to ship an order.
                </p>
            </div>

        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Micky & Hao's Website 2018</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>