<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/user/dashboard"><i class="fa fa-fw fa-home"></i> All Item Listings</a>
        </li>

        <li>
            <a href="/user/item-list"><i class="fa fa-fw fa-table"></i> Manage My Items</a>
        </li>

        <li>
            <a href="/user/item/new"><i class="fa fa-fw fa-edit"></i> Add an Item</a>
        </li>

        <li></li>
    </ul>
</div>
