<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-text navbar-link pull-left white-icon" routerLink="/user/website/{{websiteId}}/page">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <span class="navbar-brand">New Page</span>
  </div>
</nav>

<div class="container">

  <form (ngSubmit)="createPage()" #f="ngForm">

    <label>Name</label>
    <input type="text"
           name="name"
           class="form-control"
           placeholder="Page Name"
           ngModel
           required
           #name="ngModel"/>

    <label>Title</label>
    <input type="text"
           class="form-control"
           name="title"
           placeholder="Page Title"
           ngModel
           required
           #title="ngModel"/>

    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid">
      Confirm
    </button>
  </form>

  <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <a class="navbar-text navbar-link pull-right white-icon" routerLink="/user">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </nav>

</div>
