input.form-control, textarea.form-control, input-group.input-group-btn {
    margin-bottom: 10px;
}

.btn-margin {
    margin-bottom: 10px;
}

.form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    z-index: 2;
}

.btn-block {
    margin-bottom: 5px;
}
/*.upload .form-control {*/
    /*width: 80%*/
/*}*/