<!--<div class="container">-->
<div class="row">
    <div class="col-lg-12">
        <h3>All Item Listings</h3>
    </div>
</div>
<div class="row">

    <div *ngFor="let item of items">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img [src]="item?.url">
                <div class="caption">
                    <h3 class="pull-right">$ {{item?.price}}</h3>
                    <h3><a href="{{link}}/{{item?._id}}/detail">{{item?.title}}</a>
                    </h3>
                    <!--<p class="text-bold">{{item.name}}</p>-->
                    <p>{{item?.description}}</p>
                    <a href="{{link}}/{{item?._id}}/detail" class="btn btn-primary">View Details
                        <span class="fa fa-caret-right fa-fw"></span>
                    </a>
                </div>
                <div class="icons">
                    <span class="fa fa-user user"></span> {{item._seller?.username}}
                    <span class=" watcher"><i class="fa fa-heart"></i> {{item?.watcher_count}}</span>
                </div>
            </div>
        </div>
    </div>

</div>
<!--</div>-->