<nav class="navbar navbar-expand-lg bg-primary navbar-fixed-top">
  <div class="row">
    <div class="col-sm-1 col-xs-1">
      <div class="container-fluid">
        <a class="navbar-text navbar-link pull-left white-icon" routerLink="/user/website">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
    </div>

    <div class="col-sm-3 col-xs-0 hidden-xs">
      <div class="container-fluid">
        <span class="navbar-brand">Websites</span>
        <a class="navbar-text navbar-link pull-right white-icon" routerLink="/user/website/new">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
    </div>

    <div class="col-sm-8 col-xs-11">
      <div class="container-fluid">
        <span class="navbar-brand">New Website</span>
        <a class="navbar-text navbar-link pull-right white-icon" (click)="create()">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">

  <div class="col-sm-4 col-xs-0 hidden-xs vertical-divider">

    <ul class="list-group">

      <li *ngFor="let website of websites"
          class="list-group-item list-item-border">
        <a routerLink="/user/website/{{website._id}}/page">{{website.name}}</a>
        <a class="pull-right" routerLink="/user/website/{{website._id}}/">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-sm-8 col-xs-12">
    <div *ngIf="errorFlag"
         class="alert alert-danger">
      {{errorMsg}}
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="name" type="text" class="form-control" id="name" placeholder="Name" required/>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea [(ngModel)]="description" class="form-control" id="description" placeholder="Description"
                rows="6"></textarea>
    </div>
  </div>

</div>

<nav class="navbar navbar-expand-lg bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-text navbar-link pull-right white-icon" routerLink="/user">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
