<div class="background">
    <div class="container">
        <div class="panel pricing-table-1">

            <form class="form-signin" (ngSubmit)="register()" #f="ngForm">
                <div *ngIf="errorFlag"
                     class="alert alert-danger">
                    {{errorMsg}}
                </div>

                <h2 id="header-center">Register as a Seller
                    <small>(required</small>
                    <small class="req">*</small>
                    <small>)</small>
                </h2>
                <div class="form-group">
                    <label><span class="req">* </span> Username: </label>
                    <input
                            placeholder="username"
                            name="username"
                            type="text"
                            class="form-control"
                            ngModel
                            required
                            #username="ngModel"/>
                    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
   </span>


                    <label><span class="req">* </span> Password: </label>
                    <input placeholder="password"
                           name="password"
                           type="password"
                           class="form-control"
                           ngModel
                           required
                           #password="ngModel"/>
                    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
   </span>

                    <label><span class="req">* </span> Verify password: </label>
                    <input placeholder="verify password"
                           name="vfpassword"
                           type="password"
                           class="form-control"
                           ngModel
                           required
                           #vfpassword="ngModel"/>
                    <span class="help-block" *ngIf="vfpassword.value != password.value">
      Passwords do not match!
   </span>
                    <br>

                    <div class="row">
                        <div class="col-md-6">

                            <label><span class="req">* </span> First Name: </label>
                            <input placeholder="first name"
                                   name="firstName"
                                   type="text"
                                   class="form-control"
                                   ngModel
                                   required
                                   #firstName="ngModel"/>
                            <span class="help-block" *ngIf="!firstName.valid && firstName.touched">
      Please enter first name!
   </span>
                        </div>

                        <div class="col-md-6">
                            <label><span class="req">* </span> Last Name: </label>
                            <input placeholder="last name"
                                   name="lastName"
                                   type="text"
                                   class="form-control"
                                   ngModel
                                   required
                                   #lastName="ngModel"/>
                            <span class="help-block" *ngIf="!lastName.valid && lastName.touched">
      Please enter last name!
   </span>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <label><span class="req">* </span> Email: </label>
                            <input placeholder="email"
                                   name="email"
                                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                   type="email"
                                   class="form-control"
                                   ngModel
                                   required
                                   #email="ngModel"/>
                            <span class="help-block" *ngIf="!email.valid  && email.touched">
      Please enter email in valid format, eg user@user.domain !
   </span>
                        </div>

                        <div class="col-md-6">
                            <label> Phone: </label>
                            <input placeholder="phone"
                                   name="phone"
                                   type="text"
                                   class="form-control"
                                   ngModel
                                   #phone="ngModel"/>

                        </div>

                    </div>

                    <br>

                    <label><span class="req">* </span> Address: </label>
                    <input
                            placeholder="address"
                            name="address"
                            type="text"
                            class="form-control"
                            ngModel
                            required
                            #address="ngModel"/>
                    <span class="help-block" *ngIf="!address.valid && address.touched">
      Please enter address!
   </span>

                    <div class="row">
                        <div class="col-md-4">

                            <label><span class="req">* </span> City: </label>
                            <input placeholder="city"
                                   name="city"
                                   type="text"
                                   class="form-control"
                                   ngModel
                                   required
                                   #city="ngModel"/>
                            <span class="help-block" *ngIf="!city.valid && city.touched">
      Please enter city!
   </span>
                        </div>

                        <div class="col-md-2">
                            <label><span class="req">* </span> State: </label>
                            <input placeholder="state"
                                   name="state"
                                   type="text"
                                   class="form-control"
                                   ngModel
                                   required
                                   #state="ngModel"/>
                            <span class="help-block" *ngIf="!state.valid && state.touched">
      Please enter state!
   </span>
                        </div>

                        <div class="col-md-4">
                            <label><span class="req">* </span> Zip: </label>
                            <input placeholder="zip"
                                   name="zip"
                                   pattern="^[0-9]{5}(?:-[0-9]{4})?$"
                                   type="text"
                                   class="form-control"
                                   ngModel
                                   required
                                   #zip="ngModel"/>
                            <span class="help-block" *ngIf="!zip.valid && zip.touched">
      Please enter zip in valid format, eg 12345 or 12345-6789!
   </span>
                        </div>

                        <div class="col-md-2">
                            <label> Gender: </label>
                            <select name="gender"
                                    class="form-control"
                                    ngModel
                                    #gender="ngModel">
                                <option value="">please select</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                                <option value="OTHER">Other</option>
                            </select>
                        </div>

                    </div>

                </div>
                <br>

                <button class="btn btn-lg btn-primary btn-block"
                        type="submit"
                        [disabled]="!f.valid">Register
                </button>
                <button class="btn btn-lg btn-danger btn-block"
                        type="button"
                        routerLink="/">Cancel
                </button>
                <br>

            </form>

        </div>
    </div>
</div>
