<div class="container">
  <h1>Register</h1>

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <form (ngSubmit)="register()" #f="ngForm">

    <input placeholder="username"
           name="username"
           type="text"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>

    <input placeholder="password"
           name="password"
           type="password"
           class="form-control"
           ngModel
           required
           #password="ngModel"/>

    <input placeholder="verify password"
           name="verifyPassword"
           type="password"
           class="form-control"
           ngModel
           required
           #verifyPassword="ngModel"/>

    <span class="help-block" *ngIf="verifyPassword.value && password.value !== verifyPassword.value">
        Please enter same password!
    </span>

    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]="!f.valid">
      Register
    </button>

    <button class="btn btn-danger btn-block"
            routerLink="/login">
      Cancel
    </button>

  </form>

</div>
