<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-text navbar-link pull-left white-icon"
       (click)="delete()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <span class="navbar-brand">Widget Edit</span>
    <a class="navbar-text navbar-link pull-right white-icon"
       (click)="update()">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
</nav>

<div class="container">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="name" type="text" class="form-control" id="name" placeholder="Name"/>
  </div>

  <div class="form-group">
    <label for="text">Text</label>
    <input [(ngModel)]="text" type="text" class="form-control" id="text" placeholder="Text"/>
  </div>

  <div class="form-group">
    <label for="url">URL</label>
    <input [(ngModel)]="url" type="text" class="form-control" id="url" placeholder="URL"/>
  </div>

  <div class="form-group">
    <label for="width">Width</label>
    <input [(ngModel)]="width" type="text" class="form-control" id="width" placeholder="100%"/>
  </div>

  <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
    <input name="myFile" type="file" class="form-control"/>
    <input name="widgetId" value="{{widgetId}}" style="display: none"/>
    <input name="websiteId" value="{{websiteId}}" style="display: none"/>
    <input name="pageId" value="{{pageId}}" style="display: none"/>
    <input name="userId" value="{{userId}}" style="display: none"/>
    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
  </form>

  <p></p>

  <a class="btn btn-primary btn-block"
     routerLink="/user/website/{{websiteId}}/page/{{pageId}}/widget/{{widgetId}}/flickr">
    Choose From Flickr
  </a>

  <button class="btn btn-danger btn-block"
          type="submit"
          (click)="delete()">Delete
  </button>

  <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <a class="navbar-text navbar-link pull-right white-icon" routerLink="/user">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </nav>

</div>
